* {
   margin: 10px;
   padding: 0px;
   box-sizing: border-box;
   font-family: sans-serif;
}
.banner {
   background-image: url("to.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   height: 100vh;
}
.cajaprincipal
{
    display:flex ;
    gap: 50px;
}
.paraderechasup{
    display: flex-end;
    color: white;
}
.paraizq{
    display: flex; flex-direction: column; 
    border: 100px;
    margin: 100;
    padding: 100;
    color: white;

}
.tabla{
    width:30%;
    padding:10px;
}
